.form-yt-url {
  margin: 40px 20px 80px;
  input[type="text"]{
    min-width: 300px;
  }
}

.error-message {
  color: $brand-danger;
  font-size: 15px;
}

.new-video {
  margin-top: -18px;
}

.inline-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  div:first-child {
    flex:1
  }
  > div:last-child {
    margin-left: 30px;
  }
}

.control-label {
  margin-bottom: 10px;
  margin-top: 15px;
}

.inline-intensity, .inline-zone {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  input {
    display: none;
  }
  span {
    width: 33%;
  }
  label {
    width: 100%;
    cursor: pointer;
  }
}

.collection_radio_buttons, .collection_check_boxes {
  background-color: white;
  width: 100% !important;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-weight: normal;
  border-radius: 1px;
  margin-bottom: 0px;
}

.active {
  background-color: $brand-primary;
  color: white;
}
